.venv
.env
.claude/
storage/data/*
!storage/data/.gitkeep
storage/temp/*
!storage/temp/.gitkeep
storage/rag/*
!storage/rag/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
config/*
!config/.gitkeep
__pycache__
Dockerfile
.dockerignore
docker-compose.yml
docker/*
Makefile
source