.venv
.env
temp/*
!temp/.gitkeep
data/*
!data/.gitkeep
tools/*
!tools/.gitkeep
!tools/excel.py
!tools/rag.py
!tools/pdf.py
!tools/web.py
!tools/datetime.py
!tools/_charts.py
!tools/word/
!tools/word/word.py
!tools/word/_word_common.py
!tools/word/_word_template.py
logs/*
!logs/.gitkeep
services/*
!services/lumepackapi.py
!services/postgresql.py
config/*
!config/.gitkeep
!config/config.default.json
models/*
!models/.gitkeep
__pycache__
Dockerfile
.dockerignore
docker-compose.yml
docker/*
Makefile