.venv
.env
temp/*
!temp/.gitkeep
data/*
!data/.gitkeep
tools/*
!tools/.gitkeep
!tools/excel/
!tools/rag/
!tools/pdf/
!tools/web/
!tools/context/
!tools/charts/
!tools/word/
!tools/pdf/
logs/*
!logs/.gitkeep
services/*
!services/lumepackapi.py
!services/postgresql.py
config/*
!config/.gitkeep
!config/config.default.json
models/*
!models/.gitkeep
__pycache__
Dockerfile
.dockerignore
docker-compose.yml
docker/*
Makefile